<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/main.css')}}">
</head>

<body>

    <div class="output">
        <h1 style="padding-left: 30px">NMF RESULTS</h1>
        <pre style="padding-left: 30px">{{ output1 }}</pre>
    </div>
    <div class="buttons" style="padding-left: 30px">
        <a href="/"><input type="button" style="font-size:small" value="MAIN MENU"></a>
    </div>
</body>

</html>